<mat-toolbar style="position: fixed; bottom: 0;" class="footer-text">

    <mat-toolbar-row class="mat-toolbar-row-footer">
        <div class="col-sm-3" style=""></div>
        <div class="col-sm-6" style="text-align: center; white-space: normal; line-height: 3vw;" *ngIf="usuario">
            <p style="margin-bottom: -9px;"></p>
            <p style="margin-bottom: -9px; font-weight: normal;">Proyecto desarrollado por {{usuario.nombre}} {{usuario.apellido}} en {{ usuario.domicilio }}, entre el año 2021 y el 2022.</p>
        </div>
        <div class="col-sm-3" style=" text-align: right;">
            <span><a href="https://facebook.com/fernandodebsas/" target="_blank"><img src="../../../assets/images/facebook.png" style="width: 3vw;"></a>&nbsp;&nbsp;</span>
            <span><a href="https://github.com/fernandodebsas/" target="_blank"><img src="../../../assets/images/github.png" style="width: 3vw;"></a>&nbsp;&nbsp;</span>
            <span><a href="https://instagram.com/fervazquezmusic/" target="_blank"><img src="../../../assets/images/instagram.png" style="width: 3vw;"></a>&nbsp;&nbsp;</span>
            <span><a href="https://www.linkedin.com/in/fernando-vazquez-a9a66116/" target="_blank"><img src="../../../assets/images/linkedin.png" style="width: 3vw;"></a>&nbsp;&nbsp;</span>
            <span><a href="https://twitter.com/fv_music/" target="_blank"><img src="../../../assets/images/twitter.png" style="width: 3vw;"></a>&nbsp;&nbsp;</span>
        </div>
    </mat-toolbar-row>

</mat-toolbar>