<div class="main-container fv-component-container">

  <mat-toolbar-row>
    <div class="container-fluid" style="text-align: left">
      <span>
        <h1><b>Educación</b></h1>
      </span>
    </div>
  </mat-toolbar-row>

  <div id="main-container">

    <div *ngFor="let education of educations" class="row align-items-center fv-fila-item">

      <div class="row">

        <div class="col botones_edicion">
          <a (click)="onOpenModal('edit', education)" class="btn btn-primary tooltips" data-placement="top"
            data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i>
          </a>
          <a (click)="onOpenModal('delete', education)" class="btn btn-secondary tooltips" data-placement="top"
            data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i>
          </a>
        </div>

      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center;">
         <img src="{{ education.imagenEdu }}" class="img-fluid shadow-sm mb-1 p-2 rounded-start" id="fotoEdu">
      </div>
      
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <span class="align-middle">

          <h4 id="nombre"><b>{{ education.tituloEdu }}</b></h4>
          <h5>Período: {{ education.fechaEdu }}</h5>
          <p>{{ education.descEdu }}</p>

        </span>
      </div>

    </div>

    <div class="container-fluid" style="text-align: right; margin-bottom: 2%; padding-right: 2%;">
      <span>
        <button type="button" class="btn btn-success btn-sm rounded" (click)="onOpenModal('add')">
          <a class="nav-link" style="color: #fff; font-weight: normal; font-size: 12px; font-family: Roboto;"> Agregar Educación <span class="sr-only"> (current) </span></a>
        </button>
      </span>
    </div>

  </div>

  <!-- Modal Agregar Educación-->

  <div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEducationModalLabel">
            Añadir educación
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
            <div class="form-group">
              <label for="tituloEdu">Titulo</label>
              <input type="text" ngModel name="tituloEdu" class="form-control" id="tituloEdu"
                placeholder="Nombre de la institución..." required />
            </div>
            <div class="form-group">
              <label for="fechaEdu">Fecha</label>
              <input type="text" ngModel name="fechaEdu" class="form-control" id="fechaEdu"
                placeholder="Fecha de ingreso" required />
            </div>
            <div class="form-group">
              <label for="descEdu">Descripción</label>
              <input type="text" ngModel name="descEdu" class="form-control" id="descEdu"
                placeholder="Descripción" required />
            </div>
            <div class="form-group">
              <label for="imagenEdu">Imagen</label>
              <input type="text" ngModel name="imagenEdu" class="form-control" id="imagenEdu"
                placeholder="URL de la imagen descriptiva" required />
            </div>
            <div class="modal-footer">
              <button type="button" id="add-education-form" class="btn btn-secondary" data-dismiss="modal">
                Cerrar
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit modal -->

  <div class="modal fade" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="editEducationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEducationModalLabel">
            Editar Educación {{ editEducation?.tituloEdu }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            
            <div class="form-group">
              <label for="tituloEdu">Título Nueva Educación</label>
              <input type="text" ngModel="{{ editEducation?.tituloEdu }}" name="tituloEdu" class="form-control"
                id="tituloEdu" placeholder="Tītulo" />
            </div>
            <input type="text" ngModel="{{ editEducation?.idEdu }}" name="idEdu" class="form-control" id="idEdu"
              placeholder="" />
            <div class="form-group">
              <label for="descEdu">Descripción Nueva Educación</label>
              <input type="text" ngModel="{{ editEducation?.descEdu }}" name="descEdu" class="form-control" id="descEdu"
                placeholder="Descripción" />
            </div>
            <div class="form-group">
              <label for="fechaEdu">Fecha Inicio Nueva Educación</label>
              <input type="text" ngModel="{{ editEducation?.fechaEdu }}" name="fechaEdu" class="form-control"
                id="fechaEdu" placeholder="Período" />
            </div>
            <div class="form-group">
              <label for="imagenEdu">URL Imagen Nueva Educación</label>
              <input type="text" ngModel="{{ editEducation?.imagenEdu }}" name="imagenEdu" class="form-control"
                id="imagenEdu" placeholder="Image URL" />
            </div>
            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">
                Cerrar
              </button>
              <button (click)="onUpdateEducation(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->

  <div data-bs-toggle="modal" data-bs-target="#deleteModellabel" class="modal fade" id="deleteEducationModal"
    tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Borrar Educación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Eliminar item: {{deleteEducation?.tituloEdu}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              No
            </button>
            <button (click)="onDeleteEducation(deleteEducation!.idEdu)" class="btn btn-danger" data-dismiss="modal">
              Si
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notificación "No hay educaciones" -->

  <div *ngIf="educations?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No se encontraron items.</h4>
    </div>
  </div>
</div>