<mat-toolbar style="position: fixed; top: 0; z-index: 1;">
    <mat-toolbar-row class="mat-toolbar-row-stickyheader">
        <span class="container-fluid" style="text-align: left; padding-left: 0px;">
            <a href="#">
                <img
                    src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png"
                    width="140px">
            </a>
        </span>
        <span>
            <div class="container-fluid" style="text-align: right;">
                <button type="button" class="btn btn-sm btn-outline-light" [routerLink]="'login'" style="font-size: 12px;">Login</button>
            </div>
        </span>
    </mat-toolbar-row>
</mat-toolbar>