<mat-toolbar style="position: fixed; top: 0; z-index: 1;">
    <mat-toolbar-row class="mat-toolbar-row-stickyheader">
        <div class="col-xs-6 col-sm-6" style="text-align: left; padding-left: 0px;">
            <div class="container-fluid">
                <a href="#">
                    <img
                        src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png"
                        width="140px">
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="container-fluid" style="text-align: right;">
            <button type="button" class="btn btn-outline-light" style="font-size: 12px;">Login</button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>